.idea
*idea*
.DS_Store
.TAG
.pytest_cache
/src/nso_bdd_test_pkg.egg-info/**
/src/nso_bdd_test_pkg.egg-info/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.egg-info/**
*.egg-info/
/src/*.egg-info/
/src/*.egg-info/**